flow
dist
packages
*.esm.js
*.umd.js
*.min.js

# utils
src/common/utils
src/views/OldLogin.vue
src/common/components/element-dev
src/common/components/gidc-mobile
src/common/components/color-picker/index.vue
src/assets/iconfont/iconfont.js
src/router.js
# tests
tests
